# Token du bot Telegram (obtenu via @BotFather)
TELEGRAM_BOT_TOKEN=TON_TOKEN_ICI

# Identifiants API KFC B2B
B2B_USERNAME=b2b_api
B2B_PASSWORD=hGJ7x7C8PKCGWZLk2HfSqHchAxE

# Identifiants API KFC CC (pour les fonctionnalités avancées)
CC_USERNAME=admin_kfc
CC_PASSWORD=yyBzwmNEgrV8vyvddz5Ptj9xC94V...

# Base URL de l'API KFC (prod ou UAT)
KFC_BASE_URL=https://b2b-lmckfcuat.eu12.loyalty-comarch.com
KFC_CC_URL=https://cc-lmc-kfc-uat.eu9.loyalty-comarch.com

# Version de l'API (v3 par défaut)
KFC_API_VERSION=v3
